Node-RED/packet_multiplier.json
[
    {
        "id": "c6d2eb0c4939a040",
        "type": "tab",
        "label": "Packet Multiplier",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2e881ce0d1080d5",
        "type": "mqtt in",
        "z": "c6d2eb0c4939a040",
        "name": "Davis (Uplink messages)",
        "topic": "v3/davis/devices/+/up",
        "qos": "0",
        "datatype": "json",
        "broker": "c5892c690c710f99",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "48f2d84151a1c6e9",
                "604fc2baa28b1438",
                "a1d6a92a26510399"
            ]
        ]
    },
    {
        "id": "48f2d84151a1c6e9",
        "type": "debug",
        "z": "c6d2eb0c4939a040",
        "name": "MSG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "604fc2baa28b1438",
        "type": "debug",
        "z": "c6d2eb0c4939a040",
        "name": "FRM_PAYLOAD",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.uplink_message.frm_payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "94d5d7dab8d21412",
        "type": "base64",
        "z": "c6d2eb0c4939a040",
        "name": "Base64 decoder",
        "action": "",
        "property": "payload",
        "x": 840,
        "y": 340,
        "wires": [
            [
                "8acd0bdf03528068",
                "763d867a55848eac"
            ]
        ]
    },
    {
        "id": "8acd0bdf03528068",
        "type": "debug",
        "z": "c6d2eb0c4939a040",
        "name": "BIN PAYLOAD",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "a1d6a92a26510399",
        "type": "change",
        "z": "c6d2eb0c4939a040",
        "name": "Keep frm_payload",
        "rules": [
            {
                "t": "move",
                "p": "payload.uplink_message.frm_payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "94d5d7dab8d21412",
                "3c81c0587ab10fc1"
            ]
        ]
    },
    {
        "id": "3c81c0587ab10fc1",
        "type": "debug",
        "z": "c6d2eb0c4939a040",
        "name": "PAYLOAD",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "20bce255c2d6642f",
        "type": "buffer-parser",
        "z": "c6d2eb0c4939a040",
        "name": "Payload decoder",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "bool",
                "name": "Battery",
                "offset": 0,
                "length": 1,
                "offsetbit": 7,
                "scale": "1",
                "mask": "10000000"
            },
            {
                "type": "uint8",
                "name": "ID",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": "01111111"
            },
            {
                "type": "uint8",
                "name": "PacketCount",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "WindSpeed_INT",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "WindSpeed_DEC",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "WindDir_INT",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "WindDir_DEC",
                "offset": 5,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "Humidity_INT",
                "offset": 6,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "Humidity_DEC",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "Rain_INT",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "Rain_DEC",
                "offset": 9,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "SolarRadiation_INT",
                "offset": 10,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "SolarRadiation_DEC",
                "offset": 11,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "Temperature_INT",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "Temperature_DEC",
                "offset": 13,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "UV_INT",
                "offset": 14,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint8",
                "name": "UV_DEC",
                "offset": 15,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 830,
        "y": 420,
        "wires": [
            [
                "ae050287e31aedf9",
                "26af4faf00aa30ed"
            ]
        ]
    },
    {
        "id": "ae050287e31aedf9",
        "type": "debug",
        "z": "c6d2eb0c4939a040",
        "name": "Payload decoded",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "763d867a55848eac",
        "type": "switch",
        "z": "c6d2eb0c4939a040",
        "name": "Has PacketCount?",
        "property": "payload[3]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "20bce255c2d6642f"
            ],
            [
                "5f9dddc5f5db8b2f"
            ]
        ]
    },
    {
        "id": "360f902835e2721e",
        "type": "debug",
        "z": "c6d2eb0c4939a040",
        "name": "PacketCount MISSING",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "5f9dddc5f5db8b2f",
        "type": "buffer-parser",
        "z": "c6d2eb0c4939a040",
        "name": "Payload decoder",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "bool",
                "name": "Battery",
                "offset": 0,
                "length": 1,
                "offsetbit": 7,
                "scale": "1",
                "mask": "10000000"
            },
            {
                "type": "uint8",
                "name": "ID",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": "01111111"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 830,
        "y": 500,
        "wires": [
            [
                "7c1635362f2fd078"
            ]
        ]
    },
    {
        "id": "7c1635362f2fd078",
        "type": "change",
        "z": "c6d2eb0c4939a040",
        "name": "Set PacketCount to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload.PacketCount",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 500,
        "wires": [
            [
                "360f902835e2721e",
                "42d0886f7708925c"
            ]
        ]
    },
    {
        "id": "17aa0933f35f67ba",
        "type": "influxdb out",
        "z": "c6d2eb0c4939a040",
        "influxdb": "4906a1265a0fc5d1",
        "name": "Save in DB",
        "measurement": "TEST",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1990,
        "y": 600,
        "wires": []
    },
    {
        "id": "26af4faf00aa30ed",
        "type": "change",
        "z": "c6d2eb0c4939a040",
        "name": "FINAL Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload.WindSpeed",
                "pt": "msg",
                "to": "msg.payload.WindSpeed_INT + (msg.payload.WindSpeed_DEC / 100)",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload.WindSpeed_INT",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.WindSpeed_DEC",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.WindDir",
                "pt": "msg",
                "to": "msg.payload.WindDir_INT + (msg.payload.WindDir_DEC / 100)",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload.WindDir_INT",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.WindDir_DEC",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.Humidity",
                "pt": "msg",
                "to": "msg.payload.Humidity_INT + (msg.payload.Humidity_DEC / 100)",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload.Humidity_INT",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.Humidity_DEC",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.Rain",
                "pt": "msg",
                "to": "msg.payload.Rain_INT + (msg.payload.Rain_DEC / 100)",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload.Rain_INT",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.Rain_DEC",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.SolarRadiation",
                "pt": "msg",
                "to": "msg.payload.SolarRadiation_INT + (msg.payload.SolarRadiation_DEC / 100)",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload.SolarRadiation_INT",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.SolarRadiation_DEC",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.Temperature",
                "pt": "msg",
                "to": "msg.payload.Temperature_INT + (msg.payload.Temperature_DEC / 100) - 120",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload.Temperature_INT",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.Temperature_DEC",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.UV",
                "pt": "msg",
                "to": "msg.payload.UV_INT + (msg.payload.UV_DEC / 100)",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload.UV_INT",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.UV_DEC",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 420,
        "wires": [
            [
                "d29a1e4d992c7a09",
                "42d0886f7708925c"
            ]
        ]
    },
    {
        "id": "d29a1e4d992c7a09",
        "type": "debug",
        "z": "c6d2eb0c4939a040",
        "name": "FINAL Payload Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 360,
        "wires": []
    },
    {
        "id": "42d0886f7708925c",
        "type": "change",
        "z": "c6d2eb0c4939a040",
        "name": "Set ID to String",
        "rules": [
            {
                "t": "set",
                "p": "payload.ID",
                "pt": "msg",
                "to": "$string(msg.payload.ID,false)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 440,
        "wires": [
            [
                "4e254991f13fa5c8",
                "768d11ab1457362d",
                "5f18795b70b9c302",
                "011876d34c5bf827",
                "b2aac5afba8c6679",
                "ffaeccf6dc44ccec",
                "058d3a56fe3bd75e"
            ]
        ]
    },
    {
        "id": "4e254991f13fa5c8",
        "type": "debug",
        "z": "c6d2eb0c4939a040",
        "name": "Message saved in DB",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 360,
        "wires": []
    },
    {
        "id": "768d11ab1457362d",
        "type": "change",
        "z": "c6d2eb0c4939a040",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ID",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 580,
        "wires": [
            [
                "8a56a48b4fe9f779"
            ]
        ]
    },
    {
        "id": "011876d34c5bf827",
        "type": "change",
        "z": "c6d2eb0c4939a040",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ID",
                "pt": "msg",
                "to": "3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 540,
        "wires": [
            [
                "8a56a48b4fe9f779"
            ]
        ]
    },
    {
        "id": "5f18795b70b9c302",
        "type": "change",
        "z": "c6d2eb0c4939a040",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ID",
                "pt": "msg",
                "to": "4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 500,
        "wires": [
            [
                "8a56a48b4fe9f779"
            ]
        ]
    },
    {
        "id": "b2aac5afba8c6679",
        "type": "change",
        "z": "c6d2eb0c4939a040",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ID",
                "pt": "msg",
                "to": "5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 620,
        "wires": [
            [
                "8a56a48b4fe9f779"
            ]
        ]
    },
    {
        "id": "ffaeccf6dc44ccec",
        "type": "change",
        "z": "c6d2eb0c4939a040",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ID",
                "pt": "msg",
                "to": "6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 660,
        "wires": [
            [
                "8a56a48b4fe9f779"
            ]
        ]
    },
    {
        "id": "058d3a56fe3bd75e",
        "type": "change",
        "z": "c6d2eb0c4939a040",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ID",
                "pt": "msg",
                "to": "7",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 700,
        "wires": [
            [
                "8a56a48b4fe9f779"
            ]
        ]
    },
    {
        "id": "8a56a48b4fe9f779",
        "type": "function",
        "z": "c6d2eb0c4939a040",
        "name": "Set Coords",
        "func": "switch(msg.payload.ID){\ncase (\"0\"):\n    msg.payload.Latitude = -62.657324;\n    msg.payload.Longitude = -61.071721;\n    break;\n\ncase (\"1\"):\n    msg.payload.Latitude = -62.656445;\n    msg.payload.Longitude = -61.070981;\n    break;\n\ncase(\"2\"):\n    msg.payload.Latitude = -62.657145;\n    msg.payload.Longitude = -61.067097;\n    break;\n\ncase(\"3\"):\n    break;\n\ncase(\"4\"):\n    break;\n\ncase(\"5\"):\n    break;\n\ncase(\"6\"):\n    break;\n\ncase(\"7\"):\n    break;\n\n\ndefault:\n    break;\n\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 600,
        "wires": [
            [
                "17aa0933f35f67ba"
            ]
        ]
    },
    {
        "id": "c5892c690c710f99",
        "type": "mqtt-broker",
        "name": "davis",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4906a1265a0fc5d1",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "data",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    }
]